Repository talent-inc/real-estate-dx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @real-estate-dx/core-team, @real-estate-dx/docs-team, @real-estate-dx/backend-team, @real-estate-dx/frontend-team, @real-estate-dx/ai-team, @real-estate-dx/devops-team, @real-estate-dx/security-team, @real-estate-dx/database-team, @real-estate-dx/legal-team, @real-estate-dx/qa-team

fix: remove leaked Google API key and use environment variables
  .env.example
  SETUP.md
  apps/api/package.json
  apps/api/src/controllers/upload.controller.ts
  apps/api/src/lib/storage.ts
  apps/api/src/middlewares/upload.middleware.ts
  apps/api/src/routes/upload.routes.ts
  pnpm-lock.yaml
  poc_tests/legal_pipeline_validation/legal_api_test.py
  poc_tests/ocr_validation/pdf_info_test.py
  poc_tests/ocr_validation/pdf_ocr_test.py
  poc_tests/ocr_validation/simple_api_test.py
Owners: @real-estate-dx/security-team, @real-estate-dx/docs-team, @real-estate-dx/backend-team, @real-estate-dx/core-team

docs: add security guidelines and secret checking
  apps/api/src/lib/storage.ts
  apps/api/src/scripts/test-upload.ts
  docs/SECURITY_GUIDELINES.md
  docs/deployment/google-cloud-setup.md
  scripts/check-secrets.sh
Owners: @real-estate-dx/backend-team, @real-estate-dx/docs-team, @real-estate-dx/core-team

docs: add security incident response and environment setup
  docs/SECURITY_INCIDENT_RESPONSE.md
  scripts/set-env.sh
Owners: @real-estate-dx/docs-team, @real-estate-dx/core-team

docs: enhance beta frontend requirements with design system and UX improvements
  apps/api/.gitignore
  apps/api/prisma/schema.postgres.prisma
  apps/api/prisma/schema.prisma
  apps/api/scripts/test-production-connection.ts
  apps/api/src/data/seed/index.ts
  apps/api/src/data/seed/inquiries.seed.ts
  apps/api/src/data/seed/ocr-jobs.seed.ts
  apps/api/src/data/seed/properties.seed.ts
  apps/api/src/data/seed/users.seed.ts
  apps/api/src/index.ts
  apps/api/src/routes/test-data.routes.ts
  apps/api/src/services/auth.service.ts
  apps/api/src/services/test-data.service.ts
  docs/deployment/google-cloud-integration-status.md
  docs/deployment/production-connection-status.md
  docs/development/test-data-system.md
  docs/development_scope/beta_frontend_requirements.md
  scripts/start-cloud-sql-proxy.sh
  scripts/test-cloud-connection.sh
Owners: @real-estate-dx/backend-team, @real-estate-dx/database-team, @real-estate-dx/security-team, @real-estate-dx/docs-team, @real-estate-dx/core-team

docs: refine design system with Apple-inspired philosophy
  docs/development_scope/beta_design_system_apple_inspired.md
  docs/development_scope/beta_design_system_final.md
  docs/development_scope/beta_design_system_minimal.md
  docs/development_scope/beta_frontend_requirements.md
  docs/development_scope/implementation_examples.md
Owners: @real-estate-dx/docs-team

fix: GitHub CI エラー修正
  .github/workflows/ci.yml
  apps/api/Dockerfile.dev
  apps/web/Dockerfile.dev
Owners: @real-estate-dx/devops-team, @real-estate-dx/core-team

docs: add beta development policy and CLAUDE.md
  CLAUDE.md
  docs/development_scope/beta_development_policy.md
Owners: @real-estate-dx/docs-team

docs: create beta development guide with simplified branch strategy
  docs/BETA_DEVELOPMENT_GUIDE.md
  docs/api-contracts/auth.ts
Owners: @real-estate-dx/docs-team

docs: create AI collaboration instructions
  docs/AI_INSTRUCTIONS/AI-1_FRONTEND_INSTRUCTIONS.md
  docs/AI_INSTRUCTIONS/AI-2_BACKEND_INSTRUCTIONS.md
  docs/AI_INSTRUCTIONS/AI-3_INFRA_INSTRUCTIONS.md
  docs/AI_INSTRUCTIONS/COMMON_RULES.md
Owners: @real-estate-dx/docs-team

feat(web): TypeScriptエラー解消とデザインシステム基盤構築
  .dockerignore
  .github/workflows/ci.yml
  apps/api/Dockerfile
  apps/api/Dockerfile.dev
  apps/api/package.json
  apps/api/src/__tests__/helpers/auth.helper.ts
  apps/api/src/controllers/auth.controller.ts
  apps/api/src/middlewares/auth.middleware.ts
  apps/api/src/middlewares/error.middleware.ts
  apps/api/src/services/analytics.service.ts
  apps/api/src/services/external-system.service.ts
  apps/api/src/services/inquiry.service.ts
  apps/api/src/services/property.service.ts
  apps/api/src/services/upload.service.ts
  apps/api/src/services/user.service.ts
  apps/api/src/types/express.d.ts
  apps/api/src/types/jest.d.ts
  apps/api/src/utils/errors.ts
  apps/api/src/utils/jwt.ts
  apps/api/src/validators/analytics.validators.ts
  apps/web/Dockerfile
  apps/web/Dockerfile.dev
  apps/web/src/app/properties/page.tsx
  apps/web/src/components/layout/header.tsx
  apps/web/src/components/layout/mobile-menu.tsx
  apps/web/src/components/properties/property-card-skeleton.tsx
  apps/web/src/components/properties/property-card.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/card.tsx
  apps/web/src/components/ui/input.tsx
  apps/web/src/components/ui/skeleton.tsx
  apps/web/src/services/dashboard.service.ts
  apps/web/src/services/ocr.service.ts
  apps/web/src/services/property.service.ts
  apps/web/src/styles/globals.css
  docker-compose.dev.yml
  docs/typescript-error-resolution-plan.md
  pnpm-lock.yaml
  scripts/docker-dev.sh
Owners: @real-estate-dx/devops-team, @real-estate-dx/core-team, @real-estate-dx/backend-team, @real-estate-dx/qa-team, @real-estate-dx/security-team, @real-estate-dx/frontend-team, @real-estate-dx/docs-team

feat(web): エラーハンドリングと読み込み体験の改善
  .github/workflows/ci.yml
  .github/workflows/typecheck-progress.yml
  apps/api/.env.example
  apps/api/package.json
  apps/api/src/controllers/upload.controller.ts
  apps/api/src/middlewares/error.middleware.ts
  apps/api/src/middlewares/security.middleware.ts
  apps/api/src/middlewares/upload.middleware.ts
  apps/api/src/services/analytics.service.ts
  apps/api/src/services/external-system.service.ts
  apps/api/src/types/express.d.ts
  apps/web/src/app/dashboard/page.tsx
  apps/web/src/app/error.tsx
  apps/web/src/app/not-found.tsx
  apps/web/src/components/dashboard/dashboard-skeleton.tsx
  apps/web/src/components/error/error-boundary.tsx
  apps/web/src/components/ui/form-skeleton.tsx
  apps/web/src/components/ui/progress.tsx
  apps/web/src/components/ui/table-skeleton.tsx
  apps/web/src/components/ui/upload-progress.tsx
  apps/web/src/hooks/useApiRequest.ts
  apps/web/src/hooks/useOnlineStatus.ts
  apps/web/src/hooks/useRetry.ts
  docs/cloudflare-r2-migration.md
  docs/infrastructure-improvements-summary.md
  docs/sentry-integration.md
  pnpm-lock.yaml
  scripts/check-build-size.sh
Owners: @real-estate-dx/devops-team, @real-estate-dx/core-team, @real-estate-dx/backend-team, @real-estate-dx/frontend-team, @real-estate-dx/docs-team

feat(infra): インフラ環境の大幅改善
  apps/api/src/routes/health.routes.ts
  apps/api/src/routes/swagger.routes.ts
  apps/api/src/routes/test-data.routes.ts
  apps/api/src/services/auth.service.ts
Owners: @real-estate-dx/backend-team, @real-estate-dx/security-team

.github/CODEOWNERS:

# CODEOWNERS file for Real Estate DX System
# これは自動レビュアー割り当ての設定ファイルです
# フォーマット: <pattern> <owner1> <owner2> ...

# デフォルトオーナー（全てのファイル）
* @real-estate-dx/core-team

# ドキュメント
/docs/ @real-estate-dx/docs-team
*.md @real-estate-dx/docs-team

# Backend (API)
/apps/api/ @real-estate-dx/backend-team
/packages/database/ @real-estate-dx/backend-team
/packages/shared/ @real-estate-dx/backend-team

# Frontend (Web)
/apps/web/ @real-estate-dx/frontend-team
/packages/ui/ @real-estate-dx/frontend-team

# AI Worker
/apps/ai-worker/ @real-estate-dx/ai-team

# Infrastructure & DevOps
/infrastructure/ @real-estate-dx/devops-team
/.github/ @real-estate-dx/devops-team
/docker-compose*.yml @real-estate-dx/devops-team
**/Dockerfile* @real-estate-dx/devops-team
/.dockerignore @real-estate-dx/devops-team

# 重要な設定ファイル
/package.json @real-estate-dx/core-team
/pnpm-lock.yaml @real-estate-dx/core-team
/turbo.json @real-estate-dx/core-team
/.env.example @real-estate-dx/security-team

# セキュリティ関連
/apps/api/src/middlewares/auth.middleware.ts @real-estate-dx/security-team
/apps/api/src/services/auth.service.ts @real-estate-dx/security-team
/apps/api/src/utils/jwt.ts @real-estate-dx/security-team

# データベース関連
**/schema.prisma @real-estate-dx/database-team
/apps/api/prisma/ @real-estate-dx/database-team

# 法令関連機能
/apps/api/src/services/legal-check.service.ts @real-estate-dx/legal-team
/apps/api/src/services/contract.service.ts @real-estate-dx/legal-team

# テスト
/**/__tests__/ @real-estate-dx/qa-team
/**/*.test.ts @real-estate-dx/qa-team
/**/*.test.tsx @real-estate-dx/qa-team
/**/*.spec.ts @real-estate-dx/qa-team
/**/*.spec.tsx @real-estate-dx/qa-team

# CI/CD
/.github/workflows/ @real-estate-dx/devops-team @real-estate-dx/core-team

# 注: チーム名は実際のGitHub組織に合わせて変更してください
# 例: @your-org/backend-team または @username
